$colors: (
  bg: rgba(55, 66, 76, 1),
  theGreen: rgba(0, 173, 43, 1),
  theRed: rgba(194, 47, 51, 1),
  theOrange: rgba(255, 103, 0, 1),
  theYellow: rgb(221, 172, 94),
  theGray: rgb(78, 92, 107),
  theBackground: rgba(241, 227, 214, 1),
  theDarkGray: rgba(43, 50, 56, 1),
  theBrown: rgba(101, 42, 36, 1),
  bitByBitRed: rgba(240, 44, 80, 1),
  bitByBitBlue: rgba(0, 79, 136, 1),
  bitByBitBlonde: rgba(241, 227, 214, 1),
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}

@charset "UTF-8";
@import "modular-scale";
@import "compass";

//  ==================
//  Offcanvas Settings
//  ==================

$offcanvas-width: 17em !default;
$offcanvas-left-width: $offcanvas-width;
$offcanvas-right-width: $offcanvas-width;
$offset--left: 17em !default;
$offset--right: 17em !default;
$offset--top: 12.5em !default;
$offset--bottom: 12.5em !default;
$offcanvas-content-reveal-left-offset: $offset--left !default;
$offcanvas-content-reveal-right-offset: $offset--right !default;

//content
$offset-content-wrap--left: 17em !default;
$offset-content-wrap--right: $offset-content-wrap--left !default;

// position
$offcanvas-enable-left: true !default;
$offcanvas-enable-right: true !default;
$offcanvas-enable-top: true !default;
$offcanvas-enable-bottom: true !default;
// style
$offcanvas-enable-overlay: true !default;
$offcanvas-enable-push: true !default;
$offcanvas-enable-reveal: true !default;

$supportCSSTransforms: true !default;
// z-index
$elements: body-text, offcanvas-reveal, offcanvas-content-wrap, header,
  offcanvas-overlay, offcanvas, offcanvas-trigger, offcanvas-panel,
  offcanvas-btn;

// https://material.google.com/motion/duration-easing.html#duration-easing-common-durations
$deceleration-curve: cubic-bezier(0, 0, 0.2, 1); //Easing out
$acceleration-curve: cubic-bezier(0.4, 0, 1, 1); // Easing in
$sharp-curve: cubic-bezier(0.4, 0, 0.6, 1);
$standard-curve: cubic-bezier(0.4, 0, 0.2, 1);

//  ================
//  Offcanvas Mixins
//  ================

//GPU acceleration
%u-ha {
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
%u-offcanvas-animate {
  transition: transform 300ms $sharp-curve;
}

%is-open {
  transform: translate3d(0, 0, 0);
  visibility: visible;
}

@mixin offcanvas(
  $position: left,
  $offset: $offcanvas-width,
  $overlay: false,
  $reveal: $offcanvas-enable-reveal
) {
  @if $position == "left" {
    width: $offcanvas-left-width;
    transform: translate3d(-$offset, 0, 0);

    @if ($supportCSSTransforms == false) {
      &.c-offcanvas--support-no-transitions {
        left: -$offset--left;
        &.is-open {
          left: 0;
        }
      }
    }
  }
  @if ($position == "right") {
    width: $offcanvas-right-width;
    right: 0;
    transform: translate3d($offset, 0, 0);
  } @else if ($position == "top") {
    left: 0;
    right: 0;
    top: 0;
    height: $offset;
    min-height: auto;
    width: 100%;
    transform: translate3d(0, -$offset, 0);
  } @else if ($position == "bottom") {
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    height: $offset;
    min-height: auto;
    width: 100%;
    transform: translate3d(0, $offset, 0);
  }
}

@mixin offcanvas-content(
  $position: left,
  $offset: $offcanvas-width,
  $reveal: true
) {
  @if ($reveal == true) {
    @if ($position == "right") {
      &.is-open {
        transform: translate3d(-$offset, 0, 0);
      }
    }
    @if ($position == "left") {
      &.is-open {
        transform: translate3d($offset, 0, 0);
      }
    }
  }
}

@mixin offcanvas-bg($position: left, $offset: $offcanvas-width) {
  @if ($position == "right") {
    &.is-open {
      transform: translate3d(-$offset, 0, 0);
    }
  }
  @if ($position == "left") {
    &.is-open {
      transform: translate3d($offset, 0, 0);
    }
  }
}

/**
 * Offcanvas-content-wrap
*/

.c-offcanvas-content-wrap {
  position: relative;
  z-index: index($elements, offcanvas-content-wrap);
  overflow: hidden;
}

/**
 * Offcanvas Panel
*/

.c-offcanvas {
  @extend %u-ha;
  @extend %u-offcanvas-animate;
  position: fixed;
  min-height: 100%;
  max-height: none;
  top: 0;
  display: block;
  background: #fff;
  overflow: hidden;

  &.is-open {
    @extend %is-open;
  }
  &--opening {
    transition-timing-function: $sharp-curve;
  }
  &.is-closed {
    //width: 0; IE10 BUG
    max-height: 100%;
    overflow: hidden;
    visibility: hidden;
    box-shadow: none;
  }
}

.c-offcanvas.is-scrollable {
  overflow-y: auto;
}

.c-offcanvas--overlay {
  z-index: index($elements, offcanvas);
}

.c-offcanvas--reveal {
  z-index: index($elements, offcanvas-reveal);
}

/**
 * Offcanvas BG-Overlay
*/

.c-offcanvas-bg {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: index($elements, offcanvas-overlay);
  left: -100%;
  background-color: transparent;
  transition: background-color 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

  &.is-animating,
  &.is-open {
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.68);
    visibility: visible;
  }

  &.is-closed {
    visibility: hidden;
  }
}

/**
 * Position Left
 *
*/

@if ($offcanvas-enable-left == true) {
  .c-offcanvas--left {
    height: 100%;
    @include offcanvas(
      left,
      $offset--left,
      $offcanvas-enable-overlay,
      $offcanvas-enable-push
    );
  }

  @if ($supportCSSTransforms == false) {
    .c-offcanvas.c-offcanvas--support-no-transitions {
      left: -$offset--left;

      .c-offcanvas--left {
        &.c-offcanvas--overlay,
        &.c-offcanvas--push,
        &.is-open {
          left: 0;
        }
      }
    }
  }
}

/**
 *  Position Right
 *
*/

@if ($offcanvas-enable-right == true) {
  .c-offcanvas--right {
    height: 100%;
    @include offcanvas(
      right,
      $offset--right,
      $offcanvas-enable-overlay,
      $offcanvas-enable-push
    );
  }
}

/**
 * Position Top
 *
*/

@if ($offcanvas-enable-top == true) {
  .c-offcanvas--top {
    @include offcanvas(
      top,
      $offset--top,
      $offcanvas-enable-overlay,
      $offcanvas-enable-push
    );
  }
}

/**
 * Position Bottom
 *
*/

@if ($offcanvas-enable-bottom == true) {
  .c-offcanvas--bottom {
    @include offcanvas(
      bottom,
      $offset--bottom,
      $offcanvas-enable-overlay,
      $offcanvas-enable-push
    );
  }
}

/**
 * Reveal
 *
*/

@if ($offcanvas-enable-reveal == true) {
  .c-offcanvas-content-wrap {
    @extend %u-ha;
    @extend %u-offcanvas-animate;
    z-index: index($elements, offcanvas-content-wrap);
  }

  .c-offcanvas-content-wrap--reveal {
    //Left
    @if ($offcanvas-enable-left == true) {
      &.c-offcanvas-content-wrap--left {
        @include offcanvas-content(left, $offcanvas-content-reveal-left-offset);
      }
    }
    // Right
    @if ($offcanvas-enable-right == true) {
      &.c-offcanvas-content-wrap--right {
        @include offcanvas-content(
          right,
          $offcanvas-content-reveal-right-offset
        );
      }
    }
  }

  .c-offcanvas--reveal {
    z-index: 0;
    transform: translate3d(0, 0, 0);
  }

  .c-offcanvas-bg.c-offcanvas-bg--reveal {
    @extend %u-offcanvas-animate;
    @if ($offcanvas-enable-left == true) {
      &.c-offcanvas-bg--left {
        @include offcanvas-bg(left, $offset--left);
      }
    }
    @if ($offcanvas-enable-right == true) {
      &.c-offcanvas-bg--right {
        @include offcanvas-bg(right, $offset--right);
      }
    }
  }
}

/**
 * Push
 *
*/
@if ($offcanvas-enable-push== true) {
  .c-offcanvas--push {
    z-index: index($elements, offcanvas);
    &--opening {
      transition-timing-function: $deceleration-curve;
    }
  }

  .c-offcanvas-content-wrap {
    @extend %u-ha;
    @extend %u-offcanvas-animate;
    z-index: index($elements, offcanvas-content-wrap);
  }

  .c-offcanvas-content-wrap--push {
    //Left
    @if ($offcanvas-enable-left == true) {
      &.c-offcanvas-content-wrap--left {
        @include offcanvas-content(left, $offcanvas-content-reveal-left-offset);
      }
    }
    // Right
    @if ($offcanvas-enable-right == true) {
      &.c-offcanvas-content-wrap--right {
        @include offcanvas-content(
          right,
          $offcanvas-content-reveal-right-offset
        );
      }
    }
  }

  .c-offcanvas-bg.c-offcanvas-bg--push {
    @extend %u-offcanvas-animate;
    @if ($offcanvas-enable-left == true) {
      &.c-offcanvas-bg--left {
        @include offcanvas-bg(left, $offset--left);
      }
    }
    @if ($offcanvas-enable-right == true) {
      &.c-offcanvas-bg--right {
        @include offcanvas-bg(right, $offset--right);
      }
    }
  }
}

//  ==========================================================================
//  Codepen Demo
//  ==========================================================================

// Settings
$base-font-size: 16px !default;
$base-line-height: 24px !default;
$base-text-color: #333 !default;
$base-background-color: #fff !default;
$base-font-family: "Roboto", sans-serif !default;
$base-spacing-unit: $base-line-height;
$base-spacing-unit--tiny: round($base-spacing-unit / 4);
$base-spacing-unit--small: round($base-spacing-unit / 2);
$base-spacing-unit--large: round($base-spacing-unit * 2);
$base-spacing-unit--huge: round($base-spacing-unit * 4);

$gray0: #fff;
$gray50: #fafafa;
$gray100: #f5f5f5;
$gray200: #eee;
$gray300: #e0e0e0;
$gray400: #bdbdbd;
$gray500: hsl(0, 0%, 62%);
$gray600: #757575;
$gray700: #616161;
$gray800: #424242;
$gray900: #212121;

$color-btn-green: #8ecd73;
$color-btn-blue: #378bb5;
//sass-mq
$mq-breakpoints: (
  mobile: 320px,
  phablet: 660px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
) !default;

// modular scale
$ms-base: 1em, 1.18em;
$ms-ratio: 1.618;
$ms-fluid: false;
$ms-range: 1.2 20em, 1.35 41.25em, 1.4 46.25em, 1.5 61.25em, 1.6 81.25em;
//$start: 1; $end:25;
//@debug ms-list($start, $end, $ms-base, $ms-ratio);

// Mixins
@mixin hocus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin hidden-visually() {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
@mixin nbfc {
  overflow: hidden;
}

// Micro clearfix (http://nicolasgallagher.com/micro-clearfix-hack/)
@mixin clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Button modifiers
@mixin button-colour(
  $fill-colour,
  $text-colour,
  $hover-colour,
  $hover-border: $hover-colour,
  $border-color: $fill-colour
) {
  color: $text-colour;
  background-color: $fill-colour;
  border-color: $border-color;

  &:hover,
  &:focus,
  &:active {
    background-color: $hover-colour;
    border-color: $hover-border;
    outline: none;
  }
}

// @link https://github.com/sass-mq/sass-mq
$mq-base-font-size: 16px !default;
$mq-responsive: true !default;
$mq-breakpoints: (
  mobile: 320px,
  tablet: 740px,
  desktop: 980px,
  wide: 1300px,
) !default;
$mq-static-breakpoint: desktop !default;
$mq-show-breakpoints: () !default;
$mq-media-type: all !default;
@function mq-px2em($px, $base-font-size: $mq-base-font-size) {
  @if unitless($px) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels.";
    @return mq-px2em($px * 1px, $base-font-size);
  } @else if unit($px) == em {
    @return $px;
  }
  @return ($px / $base-font-size) * 1em;
}
@function mq-get-breakpoint-width($name, $breakpoints: $mq-breakpoints) {
  @if map-has-key($breakpoints, $name) {
    @return map-get($breakpoints, $name);
  } @else {
    @warn "Breakpoint #{$name} wasn't found in $breakpoints.";
  }
}
@mixin mq(
  $from: false,
  $until: false,
  $and: false,
  $media-type: $mq-media-type,
  $breakpoints: $mq-breakpoints,
  $responsive: $mq-responsive,
  $static-breakpoint: $mq-static-breakpoint
) {
  $min-width: 0;
  $max-width: 0;
  $media-query: "";

  // From: this breakpoint (inclusive)
  @if $from {
    @if type-of($from) == number {
      $min-width: mq-px2em($from);
    } @else {
      $min-width: mq-px2em(mq-get-breakpoint-width($from, $breakpoints));
    }
  }

  // Until: that breakpoint (exclusive)
  @if $until {
    @if type-of($until) == number {
      $max-width: mq-px2em($until);
    } @else {
      $max-width: mq-px2em(mq-get-breakpoint-width($until, $breakpoints)) -
        0.01em;
    }
  }

  // Responsive support is disabled, rasterize the output outside @media blocks
  // The browser will rely on the cascade itself.
  @if $responsive == false {
    $static-breakpoint-width: mq-get-breakpoint-width(
      $static-breakpoint,
      $breakpoints
    );
    $target-width: mq-px2em($static-breakpoint-width);

    // Output only rules that start at or span our target width
    @if (
      $and ==
        false and
        $min-width <=
        $target-width and
        ($until == false or $max-width >= $target-width)
    ) {
      @content;
    }
  }

  // Responsive support is enabled, output rules inside @media queries
  @else {
    @if $min-width != 0 {
      $media-query: "#{$media-query} and (min-width: #{$min-width})";
    }
    @if $max-width != 0 {
      $media-query: "#{$media-query} and (max-width: #{$max-width})";
    }
    @if $and {
      $media-query: "#{$media-query} and #{$and}";
    }

    // Remove unnecessary media query prefix 'all and '
    @if ($media-type == "all" and $media-query != "") {
      $media-type: "";
      $media-query: str-slice(unquote($media-query), 6);
    }

    @media #{$media-type + $media-query} {
      @content;
    }
  }
}

@mixin mq-add-breakpoint($name, $width) {
  $new-breakpoint: (
    $name: $width,
  );
  $mq-breakpoints: map-merge($mq-breakpoints, $new-breakpoint) !global;
}

@mixin mq-show-breakpoints(
  $show-breakpoints: $mq-show-breakpoints,
  $breakpoints: $mq-breakpoints
) {
  body:before {
    background-color: #fcf8e3;
    border-bottom: 1px solid #fbeed5;
    border-left: 1px solid #fbeed5;
    color: #c09853;
    font: small-caption;
    padding: 3px 6px;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;

    // Loop through the breakpoints that should be shown
    @each $show-breakpoint in $show-breakpoints {
      $width: mq-get-breakpoint-width($show-breakpoint, $breakpoints);
      @include mq($show-breakpoint, $breakpoints: $breakpoints) {
        content: "#{$show-breakpoint} â‰¥ #{$width} (#{mq-px2em($width)})";
      }
    }
  }
}
@if length($mq-show-breakpoints) > 0 {
  @include mq-show-breakpoints;
}

%u-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Utilities

.u-unstyled {
  @extend %u-unstyled;
}

.u-pos-relative {
  position: relative !important;
}

.u-hidden-visually {
  @include hidden-visually();
}

.u-text-center {
  text-align: center;
}

[tabindex="-1"]:focus {
  outline: 0;
}

.o-list-inline {
  @extend %u-unstyled;
  padding: 0;
  list-style: none;
  > li {
    display: inline-block;
  }
}

html {
  @include nbfc();
  font-size: ($base-font-size / 16px) * 1em;
  font-family: $base-font-family;
  line-height: $base-line-height / $base-font-size;
  background-color: $base-background-color;
  color: $base-text-color;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

// Type
p {
  @include ms-respond(font-size, 1);
  margin-bottom: 1.18em;
  font-weight: 400;
  font-style: normal;
  color: rgba(66, 66, 66, 1);
}

h1 {
  @include ms-respond(font-size, 5);
  margin: 0 0 1em 0;
  line-height: 1.1;
  font-weight: 500;
  font-style: normal;
}

h2 {
  @include ms-respond(font-size, 3);
  line-height: 1em;
  font-weight: 400;
  font-style: normal;
  padding: 0 0 ms(-3);
  margin: ms(1) 0 ms(1) 0;
  text-transform: capitalize;
  text-indent: -2px;
}

h3 {
  @include ms-respond(font-size, 2);
  margin: ms(1) 0 ms(-1) 0;
  font-weight: 500;
  font-style: normal;
  line-height: 1.188em;
  color: hsl(0, 0%, 17%);
  text-indent: -1px;
}

h4 {
  @include ms-respond(font-size, 1);
  font-weight: 300;
  line-height: 1.409em;
  margin: 1em 0 0 0;
  letter-spacing: 1px;
  color: rgba(114, 114, 114, 1);
  text-transform: uppercase;
}

// Wrapper
.l-wrapper {
  max-width: 100%;
  //@include ms-respond(max-width, 10);
  margin: 0 auto;
  padding-right: $base-spacing-unit--small;
  padding-left: $base-spacing-unit--small;

  @include mq(phablet) {
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
  }

  @include mq(tablet) {
    max-width: ms(15);
  }

  @include mq(wide) {
    max-width: ms(16);
  }
}

// Button
.c-button {
  background: transparent;
  background-image: linear-gradient(
    transparent,
    transparent 50%,
    rgba(0, 0, 0, 0.08)
  );
  background-color: #4e4e4e;
  border-color: #4e4e4e;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-weight: 300;
  margin: 0;
  padding: ms(-4) ms(-1);
  margin: 0 0 ms(-4);
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  @include hocus {
    color: #fafafa;
  }

  @include mq(tablet) {
    font-size: ms(1);
  }
}

.c-button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.c-button:hover,
.c-button:focus,
.c-button:active {
  outline: 0;
  text-decoration: none;
}
.c-button:focus:not(:hover) {
  outline: 4px solid #c5dbfc;
}

.c-button--hard {
  border-radius: 0;
}

.c-button--green {
  @include button-colour(
    $color-btn-green,
    #ffffff,
    lighten($color-btn-green, 5%)
  );
}

.c-button--blue {
  @include button-colour(
    $color-btn-blue,
    #ffffff,
    darken($color-btn-blue, 10%)
  );
}

.c-offcanvas .c-button {
  margin-bottom: 0;
}

.c-button--close-bottom {
  position: absolute;
  left: 50%;
  bottom: -10px;
  z-index: 10;
  margin-left: -37px;
  @include hocus() {
    outline: none !important;
  }
}

.c-button--close-right-top {
  position: absolute;
  top: -1px;
  right: -1px;
  border-radius: 0;
  @include hocus() {
    outline: none !important;
  }
}

.c-button--close-right {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  left: 0;
  @include hocus() {
    outline: none !important;
  }
}

// https://philipwalton.github.io/solved-by-flexbox/demos/input-add-ons/
.c-input {
  &:focus {
    z-index: 1;
    outline: 0;
    border-color: $gray600;
    box-shadow: inset 0 0 5px hsla(0, 0%, 0, 0.2);
  }
}

.c-input-add-on {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5em;
}

.c-input-add-on__field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.c-input-add-on__field:not(:first-child) {
  margin-left: -1px;
}

.c-input-add-on__field:not(:last-child) {
  border-right: 0;
}

.c-input-add-on__item {
  margin: 0;
}

.c-input-add-on__field,
.c-input-add-on__item {
  border: 1px solid hsla(31, 15%, 50%, 0.25);
  padding: 0.5em 0.75em;
}

.c-input-add-on__field:first-child,
.c-input-add-on__item:first-child {
  border-radius: 2px 0 0 2px;
}

.c-input-add-on__field:last-child,
.c-input-add-on__item:last-child {
  border-radius: 0 2px 2px 0;
}

// Menu
.c-menu {
  margin: 0;
}

.c-menu--border .c-menu__item {
  border-bottom: 1px solid $gray300;
}

.c-menu__item--heading {
  padding: ms(1);
  text-indent: -#{ms(-5)};
  @include ms-respond(font-size, 2);
}

.c-menu__link {
  display: block;
  width: 100%;
  padding: ms(-3) ms(1);
  text-decoration: none;
  line-height: ms(2);
  color: rgba(43, 43, 43, 0.9);
  @include ms-respond(font-size, 1);
  background: $gray50;
  @include hocus() {
    color: $gray900;
    outline: none;
    text-decoration: none;
    background: $gray200;
  }
}

.c-menu--small {
  .c-menu__link {
    font-size: ms(1);
  }
}

//Page
.c-page {
  @include nbfc();
  @include ms-respond(padding-top, 5);
}

.c-offcanvas--overflow-top {
  overflow: visible;
}

body,
.c-offcanvas-content-wrap {
  min-height: 100vh;
  background-color: $gray100;
}

.c-offcanvas--shadow.is-closed:after {
  content: none;
}

.c-offcanvas--shadow:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.38) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
}

.c-offcanvas--shadow-left:after {
  left: 0;
}

.c-offcanvas--shadow-right:after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.38) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.c-offcanvas--bottom.is-open {
  box-shadow: 0 -5px 25px hsla(0, 0%, 2%, 0.38);
}

.c-offcanvas-bg--push.c-offcanvas-bg--push {
  background: transparent;
}

.c-offcanvas--push {
  &.c-offcanvas--left {
    border-right: 1px solid $gray300;
  }
  &.c-offcanvas--right {
    border-left: 1px solid $gray300;
  }
}

.c-offcanvas--top .c-menu__item {
  display: inline-flex;
}

.c-callout {
  border: 2px solid $gray400;
  border-radius: 5px;
  background: $gray200;
  padding: ms(1);
  margin-top: ms(5);
}

.c-callout__title {
  margin: 0;
}

.c-callout__text {
  @include ms-respond(font-size, -1);
  margin-top: 0;
  color: $gray600;
}

.c-callout__button {
  width: 100%;
}

.c-callout__footer {
  color: $gray800;
  @include ms-respond(font-size, -1);
  a {
    color: inherit;
    text-decoration: none;
    @include hocus() {
      color: $gray900;
      outline: none;
      text-decoration: underline;
    }
  }
}


* {
  box-sizing: border-box;
}

body {
  background: getColor(theBackground);
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  padding: 0;
}

.headline {
  background-image: url("/images/1-07-22.0710-headline\ SOIREE.png");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 100, 0, 1);
  background-image: url("/images/1-25-20.0902-wooden-shutterstock_755924149.jpg");
  background-size: cover;
}

.byb-title:hover {
  background-color: getColor(theOrange);
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding-left: 4vw;
  padding-right: 5vw;
}

.navbar-links li {
  list-style: none;
  font-size: 2vw;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
  margin-left: -0.85vw;
  margin-right: -0.85vw;
  transition-duration: 250ms;
}

.navbar-links li a {
  text-decoration: none;
  font-weight: 300; // weight of navbar
  color: white;
  padding: 1vw;
  display: block;
}

#turned-on {
  color: getColor(theOrange);
}

.navbar-links li a:hover {
}

.nav-link {
  text-decoration: none;
  color: white;
  display: inline-block;
  position: relative;
}

#turned-on {
  text-decoration: none;
  color: getColor(bitByBitRed);
  position: relative;
}

.nav-link::before {
  transition: 300ms;
  height: 0.2vw;
  content: "";
  position: absolute;
  left: 40%;
  background-color: white; //color of underline
}

#turned-on::before {
  transition: 300ms;
  height: 0.2vw;
  content: "";
  position: absolute;
  left: 0%;
  background-color: getColor(bitByBitRed); //color of underline
}

//!  12520.1007     HOT AREA FOR UNDERLINING
.nav-link-ltr::before {
  content: "";
  width: 0%;
  bottom: 1vw;
}

.turned-on-ltr::before {
  content: "";
  width: 100%;
  bottom: 1vw;
}

.nav-link-ltr:hover::before {
  width: 100%;
  color: getColor(theOrange);
  left: 0;
}

.turned-on-ltr:hover::before {
  width: 100%;
  color: getColor(theOrange);
  left: 0;
}

//!  4-25-20.0951       SLOGAN AREA NEW 🏛  WITH BEM

.address-strip {
  height: 3vw;
  background-image: url("/images/1-25-20.0902-wooden-shutterstock_755924149.jpg");
  background-size: cover;
  font-size: 2vw;
  font-weight: 300;
  text-align: center;
  line-height: 1.66;
}

.slogan {
  position: absolute;
  animation: slogan__keyframes 8s;
  z-index: 20;

  &__image {
    width: 94vw;
    margin-top: 43.5vw;
    margin-left: 2vw;
  }
}

@keyframes slogan__keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.slide-bar {
  position: absolute;
  z-index: -10;

  &__image {
    width: 100vw;
    height: 12vw;
    margin-top: 38vw;
  }
}

//!  42520.1033     NOT HOME USE

.wish-1 {
  float: left;
  padding-right: 2vw;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vw;
  transition: transform 0.2s;
}
.wish-1:hover {
  transform: scale(1.15);
  float: left;
  padding-right: 2vw;
  margin-top: 2vw;
  margin-right: 2vw;
  margin-bottom: 4vw;
}

.brown-intro {
  letter-spacing: 2;
  background: getColor(theBackground);

  &__text {
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    padding-left: 4vw;
    padding-right: 4vw;
    color: getColor(theBrown);

    &--larger {
      font-size: 8vw;

      line-height: 1;
    }

    &--smaller {
      font-size: 3vw;

      line-height: 1;
    }

    &--height {
      line-height: 2;
    }

    .do-pictures {
      margin: 0;
      float: left;
      margin-right: 4vw;
      margin-top: 1vw;
    }

    a[href^="mailto:"] {
      font-family: sans-serif;
      color: getColor(theOrange);
      text-decoration: none;
      // font-size: 11px;
    }

    // END larger
  }

  // END .brown-intro
}

.do-cc-strip {
  width: 39.5vw;
  //  left: 40px;
  margin: 3vw 6vw;
  //  float: left;
  //  margin-right: 4vw;
  //  padding-right: 4vw;
  //  margin-top: 1vw;
  //  top: 4;
}

.brown-spacer {
  margin: 0;
  padding: 0;
  line-height: 0.5;
  background: getColor(theBrown);
  width: 100vw;
}

.full-wide-pic {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;

  &__image {
    width: 99vw;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.brown-text-area {
  position: absolute;
  top: 227.5vw;
  background: getColor(theBrown);
  margin: 0;
  padding: 0;
  padding-left: 4vw;
  padding-right: 4vw;
  color: white;
  // margin-top: 0;

  &--text-top {
    top: 227.5vw;
  }

  &__text-center {
    text-align: center;
    color: white;
  }

  &__larger {
    font-size: 6vw;
    text-align: center;
    color: white;
  }
}

.btn {
  text-decoration: none;
  position: absolute;
  font-weight: 00;
  top: 116.5vw;
  display: inline-block;
  border-radius: 1vw;
  background-color: getColor(bitByBitBlue);
  border: none;
  width: 30vw;
  color: white;
  text-align: center;
  font-size: 3vw;
  margin-left: 6vw;
  margin-top: -6vw;
  padding: 10px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &--volunteer {
    text-decoration: none;
    position: absolute;
    font-weight: 300;
    // top: 125.5vw;
    display: inline-block;
    border-radius: 1vw;
    background-color: getColor(bitByBitBlue);
    border: none;
    width: 40vw;
    color: white;
    text-align: center;
    font-size: 3vw;
    margin-left: 6vw;
    // margin-top: 15px;
    padding: 10px 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.btnTwo {
  text-decoration: none;
  position: absolute;
  font-weight: 00;
  top: 116.5vw;

  left: 40vw;
  display: inline-block;
  border-radius: 1vw;
  background-color: getColor(bitByBitBlue);
  border: none;
  width: 30vw;
  color: white;
  text-align: center;
  font-size: 3vw;
  margin-left: 6vw;
  margin-top: -6vw;
  padding: 10px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;

  &--volunteer {
    text-decoration: none;
    position: absolute;
    font-weight: 300;
    // top: 125.5vw;
    display: inline-block;
    border-radius: 1vw;
    background-color: getColor(bitByBitBlue);
    border: none;
    width: 40vw;
    color: white;
    text-align: center;
    font-size: 3vw;
    margin-left: 6vw;
    // margin-top: 15px;
    padding: 10px 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.btn--donate:hover {
  background-color: getColor(bitByBitRed);
  color: #ddac5e;
}

.btn:hover {
  background-color: getColor(bitByBitRed);
  color: black;
}
.btnTwo:hover {
  background-color: getColor(bitByBitRed);
  color: black;
}

.btn--volunteer:hover {
  background-color: getColor(bitByBitRed);
  color: black;
}

.toggle-button {
  top: 2.5vw;
  right: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 6vw;
  height: 3vw;
  position: absolute;
}

.toggle-button .bar {
  height: 0.5vw;
  width: 100%;
  background-color: getColor(theYellow);
  border-radius: 10px;
}

//!  42520.1047    HOME FLEX

.flexcontain {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  margin-top: 0;
  vertical-align: top;

  &__box111 {
    text-align: left;
    font-family: "Alfa Slab One", serif;
    align-items: bottom;
    width: 50vw;
    margin: 0 0 0 0;
    padding: 0;
    padding-top: 0vw;
    padding-left: 6vw;
    padding-right: 4vw;
    margin-top: 0;
    color: get;

    &__box111__main-title {
      font-size: 7vmin;
      line-height: 1;
      letter-spacing: 2;
    }

    &__box111__upper-paragraphs {
    }
  }
}
//!  60120.1856     DONATE CODE TEST BEGINS

.pay-button {
  width: 33vw;
}

.pay-button__button {
  width: 33vw;
  margin-left: 6vw;
  background-image: ("./images/6-01-20.1805-cc-strip-base.png");
}

.pay-button__button:hover {
  width: 33vw;
  margin-left: 6vw;

  background-image: ("./images/6-01-20.1805-cc-strip-hover.png");
}

.box111__text--donate {
  width: 55vw;

  margin-left: 2vw;
  color: black;
}

.box111__text--donate {
  width: 55vw;
  margin-top: 0vw;
  margin-left: 6vw;
  padding-bottom: -6vw;
  color: black;
}

//!  60120.1856     DONATE CODE TEST ENDS

//!  42520.1714    NON HOME PAGE

.box111 {
  text-align: left;
  font-family: "Alfa Slab One", serif;
  align-items: bottom;
  // width: 85vw;
  margin: 0 0 0 0;
  padding: 0;
  padding-top: 0vw;
  padding-left: 6vw;
  padding-right: 4vw;
  margin-top: 0;
  color: get;

  &__title {
    font-size: 7vmin;
    letter-spacing: 1.5;
    line-height: 1.1;

    &--pink {
      line-height: 1.1;
      font-size: 6.75vw;
      color: getColor(bitByBitRed);
    }

    &--pink2 {
      color: getColor(bitByBitRed);
      font-size: 7vw;
      line-height: 1;
    }

    &--pink3 {
      margin-top: 3vw;
      margin-bottom: 0vw;
      color: getColor(bitByBitBlue);

      font-size: 4vw;
      letter-spacing: 1.5;
    }
  }

  &__text {
    width: 75vw;

    &--pink {
      color: getColor(bitByBitRed);
    }

    // end of --pink

    &--bigger {
      font-size: 4vw;
      line-height: 2;
      padding-top: 2vw;
    }
  }

  // end of __text
}

// end of .box111

.full-width {
  margin-left: 6vw;
}

//!  5-25-20.1050      NEW CONTACT US ATTEMPT

.container {
  width: "80%";
  padding: 2vw 4vw;
}

.container h2 {
  width: 100%;
  font-size: vw;
  text-align: center;
  margin-bottom: 2vw;
}

.container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: rgba(240, 44, 80, 1);
}

.container .row100 .inputBox input,
.container .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.container .row100 .inputBox .text {
  position: absolute;
  font-size: 2vw;
  top: 0;
  left: 0;
  line-height: 40px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row100 .inputBox input:focus + .text,
.container .row100 .inputBox input:valid + .text {
  top: -35px;
  // left: -10px;
}

.container .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox input:focus ~ .line,
.container .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container .row100 .inputBox input:focus ~ .pline,
.container .row100 .inputBox input:valid ~ .pline {
  height: 100%;
}

.container .row100 .inputBox .pline,
.container .row100 .inputBox input:placeholder-shown ~ .pline {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: white;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container .row100 .inputBox textarea:focus + .text,
.container .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: 0px;
}

.container .row100 .inputBox textarea:focus ~ .line,
.container .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: rgba(240, 44, 80, 1);
  color: white;
  font-size: 18px;
  border-radius: 1vw;
}

input[type="submit"]:hover {
  background: rgba(0, 79, 136, 1);
  color: #fff;
  transform: scale(1.15);
  transition: transform 0.75s ease;
}

//!  52520.1446     END OF SUBMIT FORM

//!  42520.1035     GENERAL USE TEXT

h1 {
  font-family: "Alfa Slab One", serif;
  color: getColor(theBrown);
  line-height: 0.75;
  font-size: 7vw;
  margin-bottom: 0;
}

h2 {
  font-family: "Overpass", serif;
  font-weight: 500;
  color: getColor(theBrown);
  font-size: 2.25vw;
  padding-top: 0;
}
.h22 {
  font-family: "Overpass", serif;
  font-weight: 900;
  color: getColor(theBrown);
  font-size: 2rem;
  padding-top: 0;
}

.zero-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.zero-top {
  margin-top: 1.25vw;
  padding-top: 0;
}

h3 {
  padding-top: 0vw;
  padding-left: 4vw;
  margin: 0vw;
  margin-bottom: 1.5vw;
  font-size: calc(14px + (26 - 14) * ((100vw -300px) / (1600 - 300)));
  line-height: 1.25;
  font-family: garamond-premier-pro-display, serif;
  font-weight: 300;
  font-style: normal;
  color: getColor(theBrown);
}

h4 {
  font-family: "Overpass", sans-serif;
  //  padding-top: .3vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  padding-left: 0vw;
  text-decoration: none;
  margin: 0vw;
  margin-bottom: 1.5vw;
  font-size: 2.25vw;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  color: getColor(theBrown);
  // padding-top: 0vw;
  // padding-left: 4vw;
  // margin: 0vw;
  // margin-bottom: 1.5vw;
  // font-size: 3vw;
  // line-height: 1.25;
  // font-family: garamond-premier-pro-display,
  //   serif;
  // font-weight: 300;
  // font-style: normal;
  // color: getColor(theBrown)
}

a {
  text-decoration: none;
}

a:hover {
  color: getColor(bitByBitRed);
}

// .h-four__h4_larger-bolder {
//   font-size: 4vw;
// }

h5 {
  color: black;
  font-weight: 300;
  line-height: 1;
  text-decoration: none;
}

h6 {
  font-family: "Overpass", sans-serif;
  padding-top: 0.3vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  padding-left: 0vw;

  margin: 0vw;
  // margin-bottom: 1.5vw;
  font-size: 2.25vw;
  line-height: 1;
  font-weight: 600;
  font-style: normal;
  color: getColor(theBrown);
}

.darker-smaller {
  line-height: 1.75;

  font-weight: 900;
  color: black;
  font-size: 1.75vw;
}

h8 {
  font-family: "Overpass", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 2.25vw;
  font-weight: 900;
  font-style: normal;
  color: getColor(theBrown);
}

h9 {
  color: getColor(theBackground);
}

//!  42520.1038     FORMER HORSE AREA

#horse-area h3 {
  margin-top: 2vw;
  background-color: getColor(theBrown);
  color: getColor(theBackground);
}

#horse-area {
  color: white;
}

//!  42520.1040     POSSIBLY UNUSED?

#video-wrapper2 {
  position: absolute;
  width: 100%;
}

#normal-bodycopy {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.normal-bodycopy iframe {
  padding-right: 0;
  margin-right: 0;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#vframe {
  width: 60vw;
}

video {
  display: block;
  position: relative;
  width: 45vw;
  margin: 4vw 55vw;
  right: 0;
}

#video-wrpper3 {
  display: block;
  position: relative;
  width: 25vw;
  // margin:  4vw 55vw;
  right: 0;
}

#flex-video3-container {
  display: inline-flex;
}

.gridContainer {
  display: grid;
  grid-gap: 6vw;
  grid-template-columns: repeat(auto-fill, 240px);
  grid-auto-flow: row;
  align-items: end;
  justify-content: center;
  padding-left: 4vw;
  padding-right: 4vw;
}

.box {
  position: relative;
  width: 240px;
  background: getColor(theBrown);
  filter: drop-shadow;
}

.box img {
  width: 240px;
  border-radius: 1vw;
}

.bold {
  position: absolute;
  z-index: 100;
  margin-top: 1vw;
  padding-left: 1vw;
  left: 0;
  top: -10px;
  text-shadow: 4px 4px #000000;
  color: getColor(theBackground);
}

.white-overcast a {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0;
  transition: transform 0.75s ease, opacity 0.75s ease;
}

.white-overcast a:hover {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 1;
}

.explanation {
  font-size: 0.55em;
  font-weight: 500;
  left: 0;
  line-height: 1.35;
  opacity: 0;
  padding-left: 0vw;
  position: absolute;
  top: 0;
  transition: transform 0.75s ease, opacity 0.75s ease;
  z-index: 200;
  // text-shadow: 2px 2px #000000;
}

#explan1 {
  margin: 15px;
}

.explanation:hover {
  opacity: 1;
}

.our-horses {
  font-family: "Alfa Slab One", serif;
  color: getColor(bitByBitRed);
  font-size: 6vw;
}

#brown-ask {
  background: getColor(theBrown);
}

.box:hover > .explanation {
  //  transform: scale(1.15);
  transition: transform 0.75s ease;
  opacity: 1;
}

.box:hover {
  transform: scale(1.15);
  //  filter: brightness(2);
  transition: transform 0.75s ease;
  opacity: 1;
}

.box222 {
  // background-color: getColor(theOrange);
  text-align: left;
  width: 45vw;
  // height: 16vw;
  margin: 0;
  padding: 0;
  color: blue;
  flex-grow: 1;

  &__text {
    text-align: center;
    font-size: 1rem;
  }
}

.box333__text--pic {
  position: absolute;
  left: 0;
}

#video-wrapper4 {
  .embed-container {
    position: relative;
    padding-top: 22.25%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    &--wrapper5 {
      padding-top: 0;
    }
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

#video-wrapper5 {
  .embed-container {
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    left: 0;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 4vw;
    width: 90%;
    height: 100%;
  }
}

#white-overcast {
}

.container-grid {
  display: grid;
  // grid-template-columns: ;
}

#normal-bodycopy {
}

//todo  10920.0004    codepen attempt ken burns https://codepen.io/planetgrafix/pen/iGDrk

#slideshow {
  position: relative;
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  // border: 8px solid #ccc;
}

#slideshow img {
  position: absolute;
  width: 100vw;
  height: 50vw;
  top: 50%;
  left: 50%;
  margin-left: -50vw;
  margin-top: -25vw;
  opacity: 0;

  transition: opacity, transform;
  transition-duration: 5s, 10s;
}

#slideshow img {
  transform-origin: bottom left;
}

#slideshow :nth-child(2n + 1) {
  transform-origin: top right;
}

#slideshow :nth-child(3n + 1) {
  transform-origin: top left;
}

#slideshow :nth-child(4n + 1) {
  transform-origin: bottom right;
}

#slideshow .fx:first-child + img ~ img {
  z-index: -1000;
}

#slideshow .fx {
  opacity: 1;

  transform: scale(1.05);
}

.logo {
  position: absolute;
  transition: all 1s;
  transform-origin: 0% 0%;
  width: 30vw;
  border-radius: 0 0 1vw;
  z-index: 100;
}

.class {
  position: absolute;
  transition: all 1s;
  transform-origin: 0% 0%;
  width: 58vw;
  border-radius: 0 0 1vw;
  z-index: 100;
}

//!  20220.1434     New code highlight logo svg

.logo:hover {
  transform: scale(1.075);
}

@keyframes logoFades {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.bit1 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;
  animation-duration: 0.5s;
}

#by {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 0.33s;
  animation-duration: 0.5s;
}

.bit2 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 0.66s;
  animation-duration: 0.5s;
}

#hoof-41 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  animation-duration: 0.25s;
}

#hoof-42 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  animation-duration: 0.25s;
}

#hoof-31 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  animation-duration: 0.25s;
}

#hoof-32 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
  animation-duration: 0.25s;
}

#hoof-21 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  animation-duration: 0.25s;
}

#hoof-22 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
  animation-duration: 0.25s;
}

#hoof-11 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 4s;
  animation-duration: 0.25s;
}

#hoof-12 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  animation-duration: 0.25s;
}

#foot-4 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 1.75s;
  animation-duration: 0.25s;
}

#foot-3 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 2.75s;
  animation-duration: 0.25s;
}

#foot-2 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 3.75s;
  animation-duration: 0.25s;
}

#foot-1 {
  opacity: 0;
  animation: logoFades ease-in 1;
  animation-fill-mode: forwards;
  animation-delay: 4.75s;
  animation-duration: 0.25s;
}

#time-stamp {
  // background-color: getColor(theBrown);
  // color: white;
  // text-align: center;
}

.social-wrap {
  &__facebook {
    position: absolute;
    right: 5vw;
    top: 29vw;
    width: 6vw;
    transition: all 300ms ease-out;
    z-index: 700;
  }
  &__instagram {
    position: absolute;
    right: 5vw;
    top: 37vw;
    width: 6vw;
    transition: all 300ms ease-out;
    z-index: 700;
  }
  &__pppp {
    position: absolute;
    right: 5vw;
    top: 30vw;
    width: 32vw;
    transition: all 300ms ease-out;
    z-index: 700;
  }
  &__volunteer-training {
    position: absolute;
    left: 5vw;
    top: 29vw;
    width: 32vw;
    transition: all 300ms ease-out;
    z-index: 700;
  }

  &__gamma2-gives {
    position: absolute;
    left: 5vw;
    top: 31vw;
    width: 32vw;
    transition: all 300ms ease-out;
    z-index: 700;
  }
}

.social-wrap figure:hover img {
  transform: scale(1.15);
  transition: all 300ms ease-in;
}

.box222__text {
  &--pic {
    width: 48vw;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
}

@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1.4;
  }
}

@media only screen and (min-width: 600px) {
}

@media only screen and (max-width: 600px) {
  .navbar-links {
    display: none;
    width: 100%;
  }
}
